*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 0;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}
ul li{
    list-style: none;
}
.nav{
    height: 2.266666rem;
    margin-bottom: 0.16666rem;
    background-color: #fff;
    padding: 0 0.2rem   ;
}
.navTop{
    display: flex;
    height: 1.28rem;
    justify-content: space-between;
}
.navTopleft{
    display: flex;
    align-items: center;
}
.navTopleft input{
    width: 5.8266666rem;
    height: 0.7733333rem;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    font-size: 0.306666rem;
    background-image: url(../images/2_05.png);
    background-repeat: no-repeat;
    background-size: 0.306666rem;
    text-align: left;
    background-position:left;
    background-position-x: 0.293333rem;
    padding-left: 0.7733333rem;
    margin-left: 0.426666rem;
}
.nav .navTopimg{
    width: 1.02666rem;
}
.nav .navTopimg img{
    width: 100%;
}
.navTopright{
    font-size: 0.42666rem;
    display: flex;
    align-items: center;
}
.navTopright span:nth-child(2){
    margin-right: 0.12rem;
    margin-left: 0.09rem;
}
.navTopright .iconfont{
    font-size:0.426666rem; 
}
.nav li{
    font-size: 0.373333rem;
    padding-top: 0.29333rem;
    padding-bottom: 0.19333rem;
    margin-right: 0.7466666rem;
    white-space: nowrap;
}
.nav li:hover{
    color: #ff689e;
    border-bottom: 0.066666rem solid #ff689e;
}
.nav ul{    
    display: flex;
    width: 8.59333rem;
    padding-left: 0.213333rem;
    overflow: auto;
}
.navBottom{
    display: flex;
    justify-content: space-between;
}
.navBottomright{
    width: 0.52rem;
    height: 1.05rem;
    font-size: 0.373333rem;
    line-height: 1.05rem;
}
.navBottomright .iconfont{
    font-size: 0.346666rem;
}
/* 第二部分 */
.center{
height: calc(100% - 1.44rem - 2.266666rem);
overflow: auto;
background-color: #f1f1f1;
padding: 0 0.2rem;
}
.banner{
    height: 5.44rem;
    width: 9.6133333333rem;
    margin-top: 0.173333rem;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
/* .banner:hover img{
    animation-play-state: paused;
} */
.banner img{
    width: 100%;
    animation: img 5s ease infinite;
}
@keyframes img{
    to{
        transform: translateX(-9.6133333333rem);
    }
}
.video{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 视频区 */
.video1{
    width: 4.70666rem;
    height: 4.826666rem;
    background-color: #fff;
    margin-bottom: 0.1866666rem;
}
.videoimg{
    width: 4.70666rem;
    height: 2.97333rem;
}
.videoimg img{
    width: 100%;
}
.video1 p{
padding-left: 0.2rem;
padding-right: 0.453333rem;
font-size: 0.30666rem;
margin-top: 0.26666rem;
text-indent: 0.053333rem;
font-weight: bold;
height: 0.96rem;
}
.video1 .up{
    padding-left: 0.2rem;
    padding-right: 0.266666rem;
    font-size: 0.29333rem;
    color: #989898;
    display: flex;
    justify-content: space-between;
}
.video1 .upright .iconfont{
    font-size: 0.28rem;
}
.up>.upleft span{
    border: 1px solid #888888;
    border-radius: 0.06666rem;
    text-align: center;
    width: 0.52rem;
    height: 0.38rem;
    display: inline-block;
    font-size: 0.146666rem;
    line-height: 0.38rem;
    margin-right: 0.133333rem;
}
/* 第三部分 */
.botton{
    height: 1.44rem;
    display: flex;
    font-size: 0.26666rem;
    color: #6b6b6b;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.bottom2{
    color: #fff;
    width: 0.96rem;
    height: 0.96rem;
    background-color: #fc5ca4;
    text-align: center;
    line-height: 0.96rem;
    border-radius: 0.3333333rem;
}
.bottom1:hover{
    color: #e6739a;
}
.botton .iconfont{
    font-size: 0.5333rem;
}
.botton p{
    margin-top: 0.13333rem;
}
.bottom3>div{
    animation: move 2s linear infinite;
}
@keyframes move{
    to{
        transform: rotate(360deg);
    }
}
.kaichang{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/20211117211947.png);
    background-size: 100%;
    background-position-y: 85%;
    background-repeat: no-repeat;
    animation: shouye 3s linear forwards;
    /* animation: shouyeend 1s forwards 4s; */
}
@keyframes shouye{
    99.99%{
        background-image: none;
        width: 100%;
        height: 100%;
    }
    100%{
        width: 0;
        height: 0;
    }
}
/* @keyframes shouyeend{
    to{
        width: 0;
    }
} */